@font-face {
  font-family: "Abril_Fatface";
  src: local("Abril_Fatface"),
    url(./assets//Abril_Fatface/AbrilFatface-Regular.ttf) format("ttf");
}

.tx-c {
  text-align: center;
}

.logo-main {
  height: 12em;
}

.df-c-c {
  background-color: #a3785b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.name {
  color: black;
  font-weight: bold;
}

.sub-heading {
  font-size: 14px;
  margin-top: -20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
